.hero{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:120px 8%;

background:transparent;

color:white;

}

.hero-left{

width:55%;

}

.badge{

display:inline-flex;

gap:10px;

padding:10px 18px;

background:#16304f;

border-radius:30px;

margin-bottom:25px;

color:#34d6d3;

}

.hero-left h1{

font-size:65px;

line-height:1.1;

margin-bottom:20px;

}

.hero-left span{

color:#35d5d6;

}

.hero-left p{

font-size:20px;

color:#cbd5e1;

margin-bottom:35px;

max-width:650px;

}

.hero-buttons{

display:flex;

gap:20px;

}

.primary-btn{

padding:16px 34px;

border:none;

border-radius:40px;

background:#35d5d6;

color:#07111f;

font-weight:bold;

cursor:pointer;

}

.secondary-btn{

padding:16px 34px;

border:2px solid #35d5d6;

background:transparent;

color:white;

border-radius:40px;

cursor:pointer;

}

.hero-right{

display:flex;

justify-content:center;

width:40%;

}

.glass-card{

width:330px;

height:380px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-radius:30px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

border:1px solid rgba(255,255,255,.12);

}

.moon-icon{

font-size:70px;

color:#35d5d6;

margin-bottom:20px;

}