.aurora{

position:fixed;

border-radius:50%;

filter:blur(120px);

pointer-events:none;

z-index:-1;

animation:float 16s ease-in-out infinite;

opacity:.45;

}

.aurora1{

width:420px;

height:420px;

background:#00D9FF;

top:-100px;

left:-100px;

}

.aurora2{

width:500px;

height:500px;

background:#7C3AED;

top:35%;

right:-180px;

animation-delay:3s;

}

.aurora3{

width:350px;

height:350px;

background:#14D7FF;

bottom:-120px;

left:35%;

animation-delay:7s;

}

@keyframes float{

0%{

transform:translateY(0) translateX(0);

}

50%{

transform:translateY(-40px) translateX(40px);

}

100%{

transform:translateY(0) translateX(0);

}

}