.navbar{

position:fixed;

top:20px;

left:50%;

transform:translateX(-50%);

width:90%;

max-width:1300px;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 40px;

background:rgba(255,255,255,0.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,0.15);

border-radius:60px;

z-index:1000;

}

.logo{

display:flex;

align-items:center;

gap:15px;

font-size:28px;

font-weight:700;
font-size:28px;

color:#37d5d6;

}

.nav-links{

display:flex;

gap:40px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:white;

font-size:17px;

transition:.3s;

}

.nav-links a:hover{

color:#37d5d6;

}

.nav-right{

display:flex;

gap:18px;

align-items:center;

}

.theme-btn{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:#1b2735;

color:white;

cursor:pointer;

font-size:18px;

transition:.3s;

}

.theme-btn:hover{

transform:rotate(180deg);

}

.start-btn{

padding:12px 26px;

border:none;

border-radius:40px;

background:linear-gradient(90deg,#20c997,#00d4ff);

color:white;

font-size:16px;

cursor:pointer;

transition:.4s;

}

.start-btn:hover{

transform:translateY(-3px);

box-shadow:0 10px 30px rgba(0,212,255,.3);

}
