body{
  margin:0;
  background:#dfe8cc;
  font-family: "Segoe UI", sans-serif;
}

/* Center dashboard like mobile screen */
.dashboard{
  max-width:420px;
  margin:auto;
  padding:20px;
}

/* Card style like design */
.card{
  background:white;
  padding:20px;
  border-radius:20px;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
  margin-bottom:20px;
  text-align:center;
}

/* Header */
.header{
  text-align:center;
  margin-bottom:20px;
}

.header h1{
  color:#5b7f3a;
}

/* Button */
button{
  width:100%;
  padding:12px;
  background:#6c8f4e;
  border:none;
  color:white;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
  margin-bottom:20px;
}

button:hover{
  background:#4e6e34;
}

/* Footer */
.footer{
  text-align:center;
  padding:15px;
  background:#1f252b;
  color:white;
  margin-top:20px;
}